@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato|Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono');

:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;

    --purple-brown: #231f20;
    --egg-shell: #e8e4d2;
    --dark-peach: #48ff00;
    --border-width: 0.75rem;
    --dots-gap: 10px;
}

body.dark 
{
    --bg-black-900:#0a192f;
    --bg-black-100:#0a192f;

    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Share Tech Mono', monospace;
}




/* Page content --------------------------------------------------*/
.page-container
{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Header */
.header
{
    background-color: orange;
}

.map-container
{
    position: fixed;
    background-color: green;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Map */
.map
{
    /* image dimensions */
    width: 960px;
    height: 640px;
    transition: 0.5s;
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.map span
{
    width: 25%;
    height: 100%;
    background: url(/media/images/maps/overworld/background.png);
    background-size: cover;
    /* Image width divided by 4, adjusted a bit */
    background-position: calc(-235px * var(--i));
    display: block;
    transition: 0.5s;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.unfold .map span:nth-child(even)
{
    transform: skewY(0deg);
    box-shadow: inset 0px 0 0px rgba(0, 0, 0, 0.5);
}

.unfold .map span:nth-child(odd)
{
    transform: skewY(0deg);
    box-shadow: inset 0px 0 0px rgba(0, 0, 0, 0.5);
}

.map span:nth-child(odd)
{
    transform: skewY(25deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.map span:nth-child(even)
{
    transform: skewY(-25deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.map span:first-child
{
    border-left: 5px solid white;
}

.map span:last-child
{
    border-right: 5px solid white;
}




.about
{
    top: 50%;
    left: 25%;
}

.other
{
    top: 50%;
    left: 50%;
}

.other2
{
    top: 50%;
    left:75%
}

.other3 
{
    top: 70%;
    left: 40%
}

.other4
{
    top: 70%;
    left: 75%;
}



/* section container --------------------------------------------------*/
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section
{
    height: 75%;
    width: 75%;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section.back-section
{
    z-index: 1;
}

.section.active
{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

.section-container .container {

    max-width: 1100px;
    width: 100%;
    padding: 100px;
    margin: auto;
    background-color: #0a192f;
    opacity: 1;
}

.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.exitButton
{
    height: 5%;
    width: 15%;
    position: fixed;
    top: 7%;
    left: 90%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-title h2
{
    font-size: 40px;
    color: white;
    font-weight: 700;
    position: relative;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover
{
    transform: scale(1.05);
}

.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}





/* portfolio */
.portfolio .container
{
    padding-bottom: 40px;
}

.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: white;
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
}


.fa-solid {
    font-size: 125px;
}

.fa-sharp {
    font-size: 125px;
}



/* service */
.service .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;

}
.service .service-item .service-item-inner:hover
{
    box-shadow:  0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin:  0 auto 30px;
    text-align: center;

}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}




.contact .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}





.hide
{
    visibility: hidden;
}

.show
{
    visibility: visible;
}

.blur
{
    filter: blur(20px);
}










.container{
    width: 100%;
}

.container .card{
    position: absolute;
    cursor: pointer;
    display: none;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}


.container .card .face.face1 .content{
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content #play:hover{
    background: #333;
    color: #fff;
}

.completed .face2 .content #view:hover {
    background: #333;
    color: #fff;
}


/* Card positioning*/
.container #portfolio {
    position: absolute;
    top: 20%;
    left: 85%;
    margin-top: -200px;
    margin-left: -150px;
    scale: 0.5;
    transition: transform 0.75s;
}

.container #about {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    scale: 0.5;
    transition: transform 0.75s;
}

.container #home {
    position: absolute;
    top: 30%;
    left: 15%;
    margin-top: -200px;
    margin-left: -150px;
    scale: 0.5;
    transition: transform 0.75s;
}

.container #service {
    position: absolute;
    top: 80%;
    left: 15%;
    margin-top: -200px;
    margin-left: -150px;
    scale: 0.5;
    transition: transform 0.75s;
}

.container #contact {
    position: absolute;
    top: 75%;
    left: 85%;
    margin-top: -200px;
    margin-left: -150px;
    scale: 0.5;
    transition: transform 0.75s;
}


/* Locked Card Info */
.locked:hover .face1 {
    background: red;
}

.locked .face1 {
    background: #333;
    box-shadow:0 0 20px black;
}

.locked .face.face1 .content {
    opacity: 0.2;
}

.locked i::before {
    content: '\f023';
    font: var(--fa-font-solid);
    font-size: 125px;
}

.locked h3::before {
    content: "Locked";
}




/* Completed Card Info */
.completed .face1 {
    box-shadow:0 0 20px black;
    background: var(--img);
}

.completed:hover {
    transform: scale(1.5);
}

.completed:hover .face.face1{
    transform: translateY(0);
}

.completed:hover .face.face2{
    transform: translateY(0);
}

.completed h3::before {
    content: var(--name);
}



  
#inner {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 6;
    pointer-events: none;
}


/* Unlocked Card Info */
.unlocked .face1 {
    background: green;
    box-shadow:0 0 20px black;
    background-size: cover;
}


.unlocked i::before {
    content: '\f3c1';
    font: var(--fa-font-solid);
    font-size: 125px;
}

.unlocked:hover {
    transform: scale(1.5);
}

.unlocked:hover .face.face1{
    transform: translateY(0);
    background: var(--img);
}

.unlocked:hover i {
    display: none;
}

.unlocked:hover .face.face2{
    transform: translateY(0);
}

.unlocked #view {
    opacity: 0.2;
}

.unlocked h3::before {
    content: "Unlocked";
}

.unlocked:hover h3::before {
    content: var(--name);
}

