
/* Home ------------------------------ */
.home
{
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span
{
    font-family: 'Clicker Script' , cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
}

.typing
{
    color: var(--skin-color);
}

.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}

.home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -40px;
    top: -40px;
}

.home .home-img img
{
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* Portfolio ------------------------------ */

.portfolio .container
{
    padding-bottom: 40px;
}

.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
}

.portfolio-img
{
    font-family: 'Quattrocento', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: white;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
    border-radius: 20px;
}

.portfolio-img * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.portfolio-img .figcaption
{
    position: absolute;
    top: 85%;
    width: 100%;
    padding: 15px 25px 65px;
    background-color: black;
}


.portfolio-img h3, .portfolio-img p {
    margin: 0 0 10px;
}
  
.portfolio-img h3 {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.2em;
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
}

.portfolio-img p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
}

.portfolio-img a {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;

    text-decoration: none;
    font-family: sans-serif;
    padding: 8px;
    font-size: small;
    transition: 0.4s ease;
    opacity: 1;
}

.portfolio-img:hover .figcaption, .portfolio-img.hover .figcaption {
    top: 40%;
}

.portfolio-img:hover p, .portfolio-img:hover button, .portfolio-img:hover h3 {
    opacity: 1;
}

/* Tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
}

.tabs__label {
    padding: 0px 30px;
    cursor: pointer;
    color: var(--text-black-900);
    font-size: 1.5em;
}

.tabs__radio {
    display: none;
}

.tabs__content {
    order: 1;
    padding-top: 20px;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs__radio:checked+.tabs__label {
    font-weight: bold;
    color: var(--skin-color);
    border-bottom: 2px solid #009578;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
    display: initial;
}

